# frozen_string_literal: true

require 'tty-prompt'

namespace :comwork do
  desc 'Set admin user'
  task set_admin: :environment do
    include RoutingHelper

    user = Account.find_local(ENV.fetch('USERNAME')).user
    user.update(admin: true)

    puts "Congrats! #{user.account.username} is now an admin. \\o/\nNavigate to #{admin_settings_url} to get started"
  end

  desc 'Remove old media files'
  task remove_remote: :environment do
    MediaAttachment.where.not(remote_url: '').where('created_at < ?', {{ mastodon_retention_media_days }}.day.ago ).find_each do |media|
      media.file.destroy
      media.type = :unknown
      media.save
    end
  end
end

def disable_log_stdout!
  dev_null = Logger.new('/dev/null')

  Rails.logger                 = dev_null
  ActiveRecord::Base.logger    = dev_null
  HttpLog.configuration.logger = dev_null
  Paperclip.options[:log]      = false
end
