version: '3'
services:
  redis:
    restart: always
    image: redis:7-alpine
    container_name: mastodon-redis
    networks:
      - mastodon
    volumes:
      - ./redis:/data

  shell:
    image: {{ mastodon_image }}:{{ mastodon_version }}
    container_name: mastodon-shell
    env_file: mastodon.env
    command: /bin/bash 
    restart: "no"
    networks:
      - mastodon
    volumes:
      - {{ mastodon_public_path }}:/mastodon/public/system

  web:
    image: {{ mastodon_image }}:{{ mastodon_version }}
    container_name: mastodon-web
    restart: always
    env_file: mastodon.env
    command: bash -c "rm -f /mastodon/tmp/pids/server.pid; bundle exec rails s -p 3000"
    networks:
      - mastodon
    volumes:
      - {{ mastodon_public_path }}:/mastodon/public/system
    ports:
      - {{ mastodon_web_port }}:3000
    depends_on:
      - redis

  streaming:
    image: {{ mastodon_image }}:{{ mastodon_version }}
    container_name: mastodon-streaming
    restart: always
    env_file: mastodon.env
    command: node ./streaming
    networks:
      - mastodon
    ports:
      - {{ mastodon_streaming_port }}:4000
    depends_on:
      - redis

  sidekiq:
    image: {{ mastodon_image }}:{{ mastodon_version }}
    container_name: mastodon-sidekiq
    restart: always
    env_file: mastodon.env
    command: bundle exec sidekiq
    depends_on:
      - redis
    networks:
      - mastodon
    volumes:
      - {{ mastodon_public_path }}:/mastodon/public/system

networks:
  mastodon:
