# This is a sample configuration file. You can generate your configuration
# with the `rake mastodon:setup` interactive setup wizard, but to customize
# your setup even further, you'll need to edit it manually. This sample does
# not demonstrate all available configuration options. Please look at
# https://docs.joinmastodon.org/admin/config/ for the full documentation.

# Note that this file accepts slightly different syntax depending on whether
# you are using `docker-compose` or not. In particular, if you use
# `docker-compose`, the value of each declared variable will be taken verbatim,
# including surrounding quotes.
# See: https://github.com/mastodon/mastodon/issues/16895

# Federation
# ----------
# This identifies your server and cannot be changed safely later
# ----------
LOCAL_DOMAIN={{ mastodon_domain }}

# Redis
# -----
REDIS_HOST={{ mastodon_redis_host }}
REDIS_PORT={{ mastodon_redis_port }}

# PostgreSQL
# ----------
DB_HOST={{ mastodon_db_host }}
DB_USER={{ mastodon_db_user }}
DB_NAME={{ mastodon_db_name }}
DB_PASS={{ mastodon_db_password }}
DB_PORT={{ mastodon_db_port }}

# Elasticsearch (optional)
# ------------------------
{% if mastodon_es_host is defined and mastodon_es_host and mastodon_es_port is defined and mastodon_es_port %}
ES_ENABLED=true
{% else %}
ES_ENABLED=false
{% endif %}

{% if mastodon_es_host is defined and mastodon_es_host %}
ES_HOST={{ mastodon_es_host }}
{% endif %}

{% if mastodon_es_port is defined and mastodon_es_host %}
ES_PORT={{ mastodon_es_port }}
{% endif %}

# Authentication for ES (optional)
{% if mastodon_es_user is defined and mastodon_es_user %}
ES_USER={{ mastodon_es_user }}
{% endif %}

{% if mastodon_es_password is defined and mastodon_es_password %}
ES_PASS={{ mastodon_es_password }}
{% endif %}

# Secrets
# -------
# Make sure to use `rake secret` to generate secrets
# -------
{% if mastodon_secret_key is defined and mastodon_secret_key %}
SECRET_KEY_BASE={{ mastodon_secret_key }}
OTP_SECRET={{ mastodon_secret_key }}
{% endif %}

# Web Push
# --------
# Generate with `rake mastodon:webpush:generate_vapid_key`
# --------
{% if mastodon_vapid_private_key is defined and mastodon_vapid_private_key %}
VAPID_PRIVATE_KEY={{ mastodon_vapid_private_key }}
{% endif %}

{% if mastodon_vapid_public_key is defined and mastodon_vapid_public_key %}
VAPID_PUBLIC_KEY={{ mastodon_vapid_public_key }}
{% endif %}

# Sending mail
# ------------
SMTP_SERVER={{ mastodon_smtp_host }}
SMTP_PORT={{ mastodon_smtp_port }}
SMTP_LOGIN={{ mastodon_smtp_user }}
SMTP_PASSWORD={{ mastodon_smtp_password }}
SMTP_FROM_ADDRESS={{ mastodon_from_email }}

# File storage (optional)
# -----------------------
{% if mastodon_s3_bucket is defined and mastodon_s3_bucket and mastodon_s3_key_id is defined and mastodon_s3_key_id and mastodon_s3_access_key is defined and mastodon_s3_access_key %}
S3_ENABLED=true
{% else %}
S3_ENABLED=false
{% endif %}

{% if mastodon_s3_bucket is defined and mastodon_s3_bucket %}
S3_BUCKET={{ mastodon_s3_bucket }}
{% endif %}

{% if mastodon_s3_endpoint is defined and mastodon_s3_endpoint %}
S3_ENDPOINT={{ mastodon_s3_endpoint }}
{% endif %}

{% if mastodon_s3_region is defined and mastodon_s3_region %}
S3_REGION={{ mastodon_s3_region }}
{% endif %}

{% if mastodon_s3_proto is defined and mastodon_s3_proto %}
S3_PROTOCOL{{ mastodon_s3_proto }}
{% endif %}

{% if mastodon_s3_key_id is defined and mastodon_s3_key_id %}
AWS_ACCESS_KEY_ID={{ mastodon_s3_key_id }}
{% endif %}

{% if mastodon_s3_access_key is defined and mastodon_s3_access_key %}
AWS_SECRET_ACCESS_KEY={{ mastodon_s3_access_key }}
{% endif %}

# IP and session retention
# -----------------------
# Make sure to modify the scheduling of ip_cleanup_scheduler in config/sidekiq.yml
# to be less than daily if you lower IP_RETENTION_PERIOD below two days (172800).
# -----------------------
IP_RETENTION_PERIOD={{ mastodon_ip_retention_period }}
SESSION_RETENTION_PERIOD={{ mastodon_retion_period }}