#!/usr/bin/env bash

docker-compose -f {{ node_home }}/docker-compose-mastodon.yml run --rm shell bundle exec rake tmp:clear
docker-compose -f {{ node_home }}/docker-compose-mastodon.yml run --rm shell bundle exec rake comwork:remove_remote
